<h1>admin</h1>

<h2>delete params</h2>
<form action="/admin/delete_params" method="post">
  <input type="hidden" name="_method" value="delete">

  <h3>console: </h3>
  <% Console.order(:name).each do |console| %>
    <input id="<%= console.name %>"
           type="checkbox"
           name="consoles[]"
           value="<%= console.id %>">
    <label for="<%= console.name %>"><%= console.name %></label><br>
  <% end %><br>
   <br>
  
  <h3>genre: </h3>
  <% Genre.order(:name).each do |genre| %>
    <input id="<%= genre.name %>"
           type="checkbox"
           name="genres[]"
           value="<%= genre.id %>">
    <label for="<%= genre.name %>"><%= genre.name %></label><br>
  <% end %><br>
   <br>
 
  <h3>region: </h3>
  <% Region.order(:name).each do |region| %>
    <input id="<%= region.name %>"
           type="checkbox"
           name="region[]"
           value="<%= genre.id %>">
    <label for="<%= region.name %>"><%= region.name %></label><br>
  <% end %><br>
   <br>
 
  <h3>publisher: </h3>
  <% Publisher.order(:name).each do |publisher| %>
    <input id="<%= publisher.name %>"
           type="checkbox"
           name="publisher[]"
           value="<%= publisher.id %>">
    <label for="<%= publisher.name %>"><%= publisher.name %></label><br>
  <% end %><br>
   <br>

   <input type="submit" value="delete selected">
</form>


<h2>delete orphan joins</h2>
<form action="/admin/delete_orphans" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete orphans">
</form>
