<h1><%= @user.username %></h1>

<h2>all games owned by <%= @user.username %></h2>

<div class="gamelist">
  <% @user.games.order(:name).each do |game| %>
    <div class="gamelink">
      <a href="/games/<%= game.id %>">
        <%= game.name %></a> - 
      <%= game.console.name %>
      (<%= game.regions.map(&:name).join('/') %>)
      <% if @user == current_user%>
        <a href="/users/<%= current_user.slug %>/remove/<%= game.id %>">x</a>
        <% if game.created_by == current_user %>
          <a href="/games/<%= game.id %>/edit">edit</a>
          <a href="/games/<%= game.id %>/delete">delete</a>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<h3>
  <% if @user == current_user %>
      <a href="/users/<%= @user.slug %>/edit">edit user</a> - 
      <a href="/users/<%= @user.slug %>/delete">delete user</a>
    <% end %>
</h3>

