<h1><%= @user.username %></h1>

<h2>all games owned by <%= @user.username %></h2>

<div class="gamelist">
  <% @user.games.order(:name).each do |game| %>
    <div class="gamelink">
      <a href="/games/<%= game.id %>">
        <%= game.name %></a> - 
      <%= game.console.name %>
      (<%= game.regions.map(&:name).join('/') %>)
  <% end %>
</div>
<h3>
  <% if @user.id == session[:user_id] %>
      <a href="/users/<%= @user.slug %>/edit">edit user</a> - 
      <a href="/users/<%= @user.slug %>/delete">delete user</a>
    <% end %>
</h3>

