<h1>all games</h1>

<% if logged_in? %>
  can't find what you're looking for? <a href="/games/new">add a new game</a>
<% end %>

<div class="gamelist">
  <% Game.order(:name).each do |game| %>
    <div class="gamelink">
      <a href="/games/<%= game.id %>">
        <%= game.name %></a> - 
      <%= game.console.name %>
      (<%= game.regions.map(&:name).join('/') %>)
      <% if logged_in? %>
        <% if current_user.games.include?(game) %>
          <a href="/users/<%= current_user.slug %>/remove/<%= game.id %>">x</a>
        <% else %>
          <a href="/users/<%= current_user.slug %>/add/<%= game.id %>">+</a>
        <% end %>
        <% if game.created_by == current_user || current_user.admin? %>
          <a href="/games/<%= game.id %>/edit">edit</a>
          <a href="/games/<%= game.id %>/delete">delete</a>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
