<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>rombrary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="header">
      <div id="logo"><a href="/">
          <img src="/images/rombrary_logo.png" alt="rombrary">
        </a></div>
      <div class="nav">
      <% if logged_in? %>
        logged in as <a href="/users/show/<%= current_user.slug %>">
      <%= current_user.username %></a> - 
        <a href="/logout">logout</a>
      <% else %>
        <a href="/login">login</a> - 
        <a href="/signup">signup</a>
      <% end %>
      </div>
    </div>
    <div class="wrapper">

        <%= yield %>

        <% flash.keys.each do |type| %>
          <div class="flash <%= type %>">
            <%= flash[type] %>
          </div>
        <% end %>
      <footer class="branding">
        <small>&copy; 2021 <strong>rombrary</strong></small>
      </footer>
    </div>
  </body>
</html>
